.linktree {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;

    header {
        padding-bottom: 10px;
    }

    .img-avatar {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        opacity: 1;
        border: 2px solid rgb(255, 255, 255);
    }

    h1 {
        padding-top: 10px;
        font-size: 20px;
        color: white;
    }

    h2 {
        font-size: 16px;
        background-color: #fff;
        padding: 5px;
    }

    ul {
        list-style-type: none;
        padding: 0 20px;
        li {
            list-style: none;
            padding: 0px;
            margin: 12px 0px;

            a {
                font-size: 18px;
                font-weight: 600;
                border-radius: 3px;
                border: 2px solid #b8b8bb;
                color: #fff;
                padding: 10px;
                display: block;
                text-align: center;
                small {
                    display: block;
                }
            }
        }
    }
}
