.subscription {
    background-color: black;
    color: #b8b8bb;
    padding: 30px 0;
    height: calc(101vh);
    .container {
        width: 310px;
        .center {
            text-align: center;
        }
        .img-avatar {
            width: 200px;
            height: 200px;
            border-radius: 100px;
            opacity: 1;
            border: 2px solid rgb(255, 255, 255);
            margin-right: 20px;
            margin: 30px 0;
        }

        .header-txt {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        h3 {
            font-size: 16px;
            color: white;
            margin: 0;
        }

        .subscribe-message {
            padding-top: 20px;

            &.error {
                color: red;
            }
            &.success {
                color: green;
            }
        }

        form {
            margin: 0 auto;
            div {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .error {
                    color: red;
                }
                input {
                    color: white;
                    background-color: black;
                    border: none;
                    border-bottom: 1px solid grey;
                }
                label {
                    margin: 10px 0 5px 0;
                }
            }
        }

        button {
            margin-top: 15px;
            border: none;
            padding: 10px;
            width: 100%;
            border-radius: 3px;
        }
    }
}
