@font-face {
    font-family: "EXEPixelPerfect";
    src: local('EXEPixelPerfect'), url(../../fonts/EXEPixelPerfect.ttf) format('ttf');
}

.bar {
    background-color: #5BBE42;
    color: #FFF;
    text-align: center;
}

.time {
    display:flex;
}

.box {
    max-width: 400px;
    margin: 0 auto;
}

.logo-desktop {
    max-width: 250px;
}
@media (max-width: 767px) {
    .logo-desktop {
        display: none;
    }

    #logo {
        display: none;
    }
}

.time div {
    flex-basis: 200px;
}
@media (min-width: 767px) {
    .time div {
        flex-basis: 384px;
    }
}

@media (min-width: 992px) {
    .time div {
        flex-basis: 496px;
        margin-right: 70px;
    }
}

@media (min-width: 1200px) {
    .time div {
        flex-basis: 600px;
        margin-right: 70px;
    }
}

.time div p{
    font-family: 'EXEPixelPerfect', sans-serif;
    font-size: 35px;
    margin-bottom: -20px;
}

.text {
    font-family: 'EXEPixelPerfect', sans-serif;
    font-size: 30px;
}