html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

.bar {
    background-color: #000;
    font-family: 'EXEPixelPerfect', sans-serif;
    color: #5BBE42;;
    text-align: center;
    width: 100%;
}

.time {
    display:flex;
    justify-content: space-around;
}

.box {
    padding: 0 10px;
}

.time div p{
    font-family: 'EXEPixelPerfect', sans-serif;
    font-size: 35px;
    margin-bottom: -35px;
}

.text {
    font-family: 'EXEPixelPerfect', sans-serif;
    font-size: 30px;
}