.header {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 20px;
  background-color: #ded3d9;
  background: linear-gradient(90deg, black 30%, rgb(119, 30, 48));
  color: #b8b8bb;
  text-align: center;
}

.txt-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.img-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.img-header img {
  /* height: 40vh; */
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

p {
  text-align: center;
}

@media (min-width: 450px) {
  .header {
    margin: 0;
    height: calc(100vh - 45px);
  }

  .txt-header {
    margin: 0 auto;
  }

  .img-header img {
    height: 80vh;
    width: auto;
    margin: 0 auto;
  }
}


@keyframes anim-stars {
  0% {
      transform: translateY(0px);
  }
  100% {
      transform: translate(-100vw);
  }
}