.section {
  height: 55vh;
  width: 100%;
  background-color: white;
  padding: 0 40px 0 20px;
  color: black;
}

.section img {
  width: 80px;
  height: 100%;
  margin-right: 10px;
}

.feature1 {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.feature2 > div {
  display: flex;
}

.feature-txt {
    text-align: left;
}

@media (min-width: 450px) {
  .section {
    padding: 0 230px;
    height: calc(100vh - 157px);
  }

  .section img {
    width: 200px;
    height: 100%;
    margin-right: 10px;
  }

  .feature1 {
    justify-content: flex-start;
    margin-bottom: 0px;
  }

  .feature1 p {
    width: 300px;
  }

  .feature2 {
    /* margin-bottom: 80px; */
  }

  .feature2 > div {
    justify-content: flex-end;
    width: 105%;
  }

  .feature2 p {
    width: 300px;
  }

  .feature-txt {
    text-align: justify;
}
}
