.section1 {
  width: 100%;
  background-color: white;
  color: black;
}

.section1 img {
  width: 90px;
  margin-right: 10px;
}

.feature {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.feature-txt {
  text-align: left;
  width: 100%;
}

@media (min-width: 450px) {
  .section1 {
    padding: 0 230px;
  }

  .section1 img {
    width: 200px;
    margin-right: 10px;
  }

  .feature {
    width: 50%;
  }

  .feature-left  {
  }

  .feature-txt {
    width: 100%;
  }
  .feature-right {
    flex-direction: row-reverse;
  }
}
