.Links {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    .img-avatar {
        width: 120px;
        height: 120px;
        border-radius: 100px;
        opacity: 1;
        border: 2px solid rgb(255, 255, 255);
    }

    h1 {
        padding: 10px 0 0 0;
        font-size: 20px;
        color: white;
    }

    h2 {
        font-size: 16px;
        color: #b8b8bb;
        padding: 5px;
    }

    ul {
        list-style-type: none;
        padding: 0 20px;
        margin: 0 auto;
        .highlight {
            background-color: white;
            color: black;
            small {
                color: #737375;
            }
        }
        li {
            background-color: black;
            list-style: none;
            padding: 0px;
            margin: 12px 0px;
            a {
                font-size: 18px;
                font-weight: 600;
                border-radius: 3px;
                border: 2px solid #525253;
                color: #fff;
                padding: 10px;
                display: block;
                text-align: center;
                small {
                    display: block;
                    color: #b8b8bb;
                }
            }
        }
    }
}

@media (min-width: 450px) {
    .Links {
        ul {
            width: 500px;
        }
    }
}
