.app {
    width: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
  }
  
  h1 {  font-size: 30px; }
  h2 {  font-size: 21px; }
  h3 { font-size: 20px; }
  
  @media (min-width: 450px) {
      h1 { font-size: 60px; }
      h2 { font-size: 40px; }
      h3 { font-size: 30px; }
      p { font-size: 20px; }
      a { font-size: 25px; }
  
  }